body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333;
}

/* 逆L字レイアウト */
.l-reverse__nav {
    position: relative;
    padding: 5px 0;
    background-color: #FFDBC9;
    height: 4vh;;
    border-radius: 3px;
}
.l-reverse__nav h2 {
    position: absolute;
    bottom: -10%;
    left: 5%;
    font-size: 20px;
    color: #FF6928;
}
.l-reverse__body {
    display: flex;
    margin: 10px 0;
}
.l-reverse__localNav {
    flex: 0.75;
    position: relative;
    padding-top: 40px;
    text-align: center;
    background-color: #FFDBC9;
    border-radius: 3px;
}
.l-reverse__localNav h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #FF6928;
}
.l-reverse__content {
    position: relative;
    flex: 3;
    margin-left: 10px;
    height: 90vh;
}

.date {
    position: relative;
    font-size: 35px;
    top: 0;
}

.transition {
    position: relative;
    left: 85%;
    transform: translateX(-35%);
    top: -8%;
    font-size: 25px;
    width: 160px;
}
button {
    border-radius: 5px;
    outline: none;
    border: none;
    box-sizing: none;
}
#last-month {
    padding: 5.5px 10px;
    margin: 0;
    font-size: 20px;
    background-color: #fff;
    border-radius: 100px;
}
#last-month:hover {
    transition-duration: 250ms;
    background-color: #FFDBC9;
}
#today {
    padding: 8px 9px;
    margin: 0;
    font-size: 20px;
    background-color: #fff;
    border-radius: 5px;
}
#today:hover {
    transition-duration: 250ms;
    background-color: #FFDBC9;
}
#next-month {
    padding: 5.5px 10px;
    margin: 0;
    font-size: 20px;
    background-color: #fff;
    border-radius: 100px;
}
#next-month:hover {
    transition-duration: 250ms;
    background-color: #FFDBC9;
}

/* カレンダー */
.calendar {
    position: absolute;
    width: 100%;
    top: 10%;
    border-collapse: collapse;
    font-size: 15px;
}
td,th {
    padding: 0;
    text-align: center;
    border-bottom:1px solid #FF9999;
    border-right:1px dotted #FF9999;
}
.exi {
    position: relative;
    width: 30px;
    height: 100px;
}
/* スケジュールリスト */
td ul {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  list-style: none;
  z-index: 99;
}
td ul li {
  padding: 2px;
  margin: 1px;
  border-radius: 2px;
  color: white;
}

td:first-child {
    color: #FF3333;
}
td:last-child {
    color: #33CCCC;
    border-right: 0;
}
.date-num {
  position: absolute;
  left: 3px;
  top: 4px;
  font-size: 15px;
  padding: 0 3px;
  margin: 0;
  border-radius: 100px;
}
.date-num:hover {
background-color: #EEEEEE;
}
.add {
position: absolute;
width: 68%;
height: 23%;
padding: 3px 0;
top: 1%;
left: 28%;
border-radius: 5px;
}
.add:hover {
  background-color: #EEEEEE;
}
th{ /* 表の見出しの指定 */
    color:#FF9999;
    padding: 30px 35px;
  }
tr:first-child {
    border-bottom: 2px solid #FF9999;
}
tr:last-child {
    border-bottom: 2px solid #FF9999;
}
th:first-child {
    color: #FF3333;
}
th:last-child {
    color: #33CCCC;
    border-right: 0;
}

/* スケジュール追加フォーム */
.add-form {
    position: absolute;
    width: 350px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 5px 30px #999;
    z-index: 100;
  }
  
  .tab {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #EEEEEE;
    border-radius: 5px 5px 0 0;
  }
  #add-content {
    position: absolute;
    font-size: 13px;
    top: 20%;
    left: 3%;
    color: white;
  }
  #back {
    position: absolute;
    top: -8%;
    right: 2.5%;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  #back:hover {
    transition-duration: 250ms;
    color: #333;
  }
  #title {
    position: absolute;
    top: 19%;
    left: 10%;
    width: 80%;
    border: none;
    box-sizing: none;
    outline: none;
    border-bottom: 1.5px solid #EEEEEE;
    font-size: 22px;
    caret-color: #2C7CFF;
  }
  #title:focus {
    transition-duration: 500ms;
    border-bottom: 1.5px solid #4689FF;
  }
  
  #time {
    position: absolute;
    top: 36%;
    left: 10%;
    width: 75%;
  }
  .period {
    position: absolute;
    width: 120px;
    border: none;
    box-sizing: none;
    outline: none;
    border-bottom: 1.5px solid #EEEEEE;
    font-size: 10px;
    color: #777;
    caret-color: #2C7CFF;
    padding: 9px;
    border-radius: 2px;
  }
  .period:hover {
    transition-duration: 250ms;
    background-color: #EEEEEE;
  }
  .period:focus {
    transition-duration: 500ms;
    border-bottom: 1.5px solid #4689FF;
  }
  #start {
    left: 0;
  }
  #end {
    left: 57%;
  }
  #separator {
    position: absolute;
    left: 52.85%;
    top: 5px;
    font-size: 17px;
    color: #888;
  }
  
  #options {
    position: absolute;
    top: 55%;
    width: 70%;
    color: #555;
  }
  #shared-option {
    position: absolute;
    left: 14%;
    border-bottom: 1.5px solid #EEEEEE;
    padding: 8px;
    border-radius: 2px;
    accent-color: #3399FF;
  }
  #none-shared-option {
    position: absolute;
    left: 48%;
    border-bottom: 1.5px solid #EEEEEE;
    padding: 8px;
    border-radius: 2px;
    border-radius: 2px;
    accent-color: #FF82B2;
  }
  #shared-option:hover {
    transition-duration: 250ms;
    background-color: #EEEEEE;
    border-bottom: 1.5px solid #3399FF;
  }
  #none-shared-option:hover {
    transition-duration: 500ms;
    background-color: #EEEEEE;
    border-bottom: 1.5px solid #FF82B2;
  }

  /* バリデーション */
  #caution {
    position: absolute;
    font-size: 12px;
    top: 64%;
    left: -2.5%;
  }
  #caution ul {
    color: #FF3333;
    list-style: none;
  }
  #length-caution {
    display: none;
  }
  #period-caution {
    display: none;
  }
  #title-caution {
    display: none;
  }

  #select {
    position: absolute;
    top: 83%;
    width: 100%;
    border-radius: 2px;
  }
  #cancel {
    position: absolute;
    left: 47%;
    padding: 8px;
    border-radius: 5px;
    color: #555;
  }
  #cancel:hover {
    transition-duration: 250ms;
    background-color: #EEEEEE;
  }
  #add {
    position: absolute;
    left: 76%;
    padding: 8px 18px;
    border-radius: 3px;
    color: #FFF;
  }
  #add:hover {
    transition-duration: 250ms;
    background-color: #C299FF;
  }

  .drag-and-drop {
    cursor: move;
  }

  .drag {
    z-index: 101;
  }

/* 詳細表示 */
.detail {
  position: absolute;
  width: 350px;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 10px 5px 30px #999;
  z-index: 100;
}

.tab {
  position: absolute;
  width: 100%;
  height: 10%;
  border-radius: 5px 5px 0 0;
}

#detail-back {
  position: absolute;
  top: -12%;
  right: 2.5%;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#detail-title {
position: absolute;
top: 19%;
left: 7%;
width: 100%;
height: 40px;
border: none;
box-sizing: none;
outline: none;
font-size: 22px;
color: #333;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}
#dot-title {
  position: absolute;
  top: 30%;
  left: 0;
}
#dot-period {
  position: absolute;
  
  top: 40%;
  left: -8.9%;
}
#detail-data {
  position: absolute;
  left: 7%;
  width: 78%;
  height: 80%;
  font-size: 15px;
  color: #333;
  border: none;
  box-sizing: none;
  outline: none;
  background-color: white;
  border-bottom: 1.5px solid #EEEEEE;
  caret-color: #2C7CFF;
}
#detail-data:hover {
  transition-duration: 500ms;
  border-bottom: 1.5px solid #4689FF;
}
#detail-time {
  position: absolute;
  top: 38%;
  left: 14%;
  width: 75%;
  height: 15%;
}
.detail-period {
  position: absolute;
  width: 120px;
  border: none;
  box-sizing: none;
  outline: none;
  border-bottom: 1.5px solid #EEEEEE;
  font-size: 12px;
  color: #444;
  caret-color: #2C7CFF;
  padding: 9px;
  border-radius: 2px;
}
.detail-period:hover{
  transition-duration: 500ms;
  border-bottom: 1.5px solid #4689FF;
}
#detail-start {
  left: 0;
  width: 42%;
}
#detail-end {
  left: 57%;
  width: 42%;
}
#separator {
  position: absolute;
  left: 51%;
  top: 5px;
  font-size: 17px;
  color: #888;
}

#added-time {
position: absolute;
top: 58%;
left: 43%;
border: none;
box-sizing: none;
outline: none;
border-bottom: 1.5px solid #EEEEEE;
font-size: 13px;
color: #777;
caret-color: #2C7CFF;
padding: 9px;
border-radius: 2px;
}
#added-time:hover{
  transition-duration: 500ms;
  border-bottom: 1.5px solid #4689FF;
}

#select {
  position: absolute;
  top: 80%;
  width: 100%;
  border-radius: 2px;
}
#update {
  position: absolute;
  left: 55%;
  padding: 8px 16px;
  border-radius: 5px;
  color: #555;
}
#update:hover {
  transition-duration: 250ms;
  background-color: #EEEEEE;
}
#delete {
  position: absolute;
  left: 76%;
  padding: 8px 16px;
  border-radius: 3px;
  color: #FFF;
}
#delete:hover {
  transition-duration: 250ms;
  background-color: #005FFF;
}

/* 修正フォーム */
#select {
  position: absolute;
  top: 80%;
  width: 100%;
  border-radius: 2px;
}
#cancel {
  position: absolute;
  left: 44%;
  padding: 8px 12px;
  border-radius: 5px;
  color: #555;
}
#cancel:hover {
  transition-duration: 250ms;
  background-color: #EEEEEE;
}
#decide {
  position: absolute;
  left: 76%;
  padding: 8px 16px;
  border-radius: 3px;
  color: #FFF;
}
#update-time {
  position: absolute;
  top: 39.5%;
  left: 14%;
  width: 75%;
  height: 15%;
}

.update-period {
    position: absolute;
    width: 120px;
    border: none;
    box-sizing: none;
    outline: none;
    border-bottom: 1.5px solid #EEEEEE;
    font-size: 10px;
    color: #777;
    caret-color: #2C7CFF;
    padding: 9px;
    border-radius: 2px;
  }
  .update-period:hover {
    transition-duration: 250ms;
    background-color: #EEEEEE;
  }
  .update-period:focus {
    transition-duration: 500ms;
    border-bottom: 1.5px solid #4689FF;
  }
#update-start {
    left: 0;
    width: 46%;
}
 #update-end {
    left: 53%;
    width: 46%;
  }
#update-separator {
    position: absolute;
    left: 51%;
    top: 5px;
    font-size: 17px;
    color: #888;
    z-index: 99;
}
#dot-update {
  position: absolute;
  top: 30%;
  left: -8.9%;
}
#option {
  position: absolute;
  width: 30%;
  top: 58%;
  left: 57.4%;
  border: none;
  box-sizing: none;
  outline: none;
  border-bottom: 1.5px solid #EEEEEE;
  font-size: 13px;
  color: #777;
  padding: 9px;
  border-radius: 2px;
}
/* 修正フォームバリデーション */
#update-caution {
  position: absolute;
  width: 60%;
  font-size: 12px;
  top: 55%;
  left: -5%;
}
#update-caution ul {
  color: #FF3333;
  list-style: none;
}

/* スケジュールリスト */
.schedule-form {
  position: absolute;
  width: 350px;
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 10px 5px 30px #999;
  z-index: 100;
}
#list {
  position: absolute;
  top: 5%;
  left: 2%;
  color: white;
  opacity: 0.8;
}
#scroll-box {
  position: absolute;
  width: 100%;
  height: 66%;
  top: 12%;
  overflow-y: scroll;
}
#schedule-list {
  list-style: none;
}
.item {
  display: flex;
}
.list-dot {
  position: absolute;
  left: 4.5%;
  transform: translateY(125%);
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  z-index: 99;
}
#schedule-list li {
  width: 93.5%;
  margin: 4px 0;
  border-radius: 5px;
}
#schedule-list li input {
  position: relative;
  color: white;
  display: block;
  width: 88.2%;
  padding: 7px 8px;
  border: none;
  box-sizing: none;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
}
#cover {
  position: relative;
  background-color: #333;
}
#info {
  position: absolute;
  display: flex;
  top: 81%;
  left: 10%;
  width: 60%;
  height: 15%;
  border-radius: 2px;
}
#shared-num {
  position: absolute;
  top: 20%;
  left: 7%;
  color: #3399FF;
}
#none-shared-num {
  position: absolute;
  top: 20%;
  left: 50%;
  color: #FF82B2;
}

#list-select {
  position: absolute;
  top: 80%;
  width: 100%;
  border-radius: 2px;
}
#list-back {
  position: absolute;
  left: 76%;
  padding: 8px 16px;
  border-radius: 3px;
  color: #FFF;
}

.shared {
  transition-duration: 250ms;
  background-color: #3399FF;
}
.none-shared {
  transition-duration: 250ms;
  background-color: #FF82B2;
}
.not-modifiable {
  transition-duration: 250ms;
  background-color: #C299FF;
}